@model IEnumerable<Clinic_MVC.Models.Doctor>

@{
    ViewBag.Title = "Doctor_list";
}
<link rel="stylesheet" href="~/CSS/doctor.css" />
<body>
<div class="nav">
    <div class="left logo">
        <img src="~/Images/logo2.jpg" />
    </div>
    <div class="middle">
        <h2>Happy Life Health Care Center </h2>
    </div>
    <div>
        <p style="color:#fff; margin-top:15px">Hello @Session["Username"]</p>
        <p style="color:#fff; margin-top:10px">@Html.ActionLink("Logout", "Logout", "Home", new { area = "" }, new { @class = "nav-link" })</p>
    </div>
</div>


<div class="menu">
    <div><h2>Available Doctors</h2></div>
    <div><input type="search" data-table="table table-hover" id="myInput" onkeyup="myFunction()" placeholder="Search.."></div>
</div>
<div>
    <p style="color:#fff; margin-top:10px">@Html.ActionLink("Book Appointment", "Create", "Appointments", new { area = "", defAction = "Success", defController = "Home" }, new { @class = "nav-link" })</p>
</div>

<table class="table table-hover" id="myTable">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Department)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Degrees)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Contact)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Day)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Time)
        </th>
        
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Department)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Degrees)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Contact)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Day)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Time)
            </td>
            
        </tr>
    }

</table>
<script>
    function myFunction() {
        var input, filter, table, tr, td, i, txtValue;
        input = document.getElementById("myInput");
        filter = input.value.toUpperCase();
        table = document.getElementById("myTable");
        tr = table.getElementsByTagName("tr");
        for (i = 0; i < tr.length; i++) {
            td1 = tr[i].getElementsByTagName("td")[0];
            td2 = tr[i].getElementsByTagName("td")[1];
            if (td1 || td2) {
                txtValue1 = td1.textContent || td1.innerText;
                txtValue2 = td2.textContent || td2.innerText;
                if (txtValue1.toUpperCase().indexOf(filter) > -1 || txtValue2.toUpperCase().indexOf(filter) > -1) {
                    tr[i].style.display = "";
                } else {
                    tr[i].style.display = "none";
                }
            }
        }
    }
</script>
</body>